<h1>Calculadora Pablo Santos</h1>
<h1>{{numeroX}}</h1>
<div>
  <button (click)="addNumber(7)">7</button>
  <button (click)="addNumber(8)">8</button>
  <button (click)="addNumber(9)">9</button>
  <button (click)="operacion('sumar')">+</button>
  <br/>
  <button (click)="addNumber(4)">4</button>
  <button (click)="addNumber(5)">5</button>
  <button (click)="addNumber(6)">6</button>
  <button (click)="operacion('restar')">-</button>
  <br/>
  <button (click)="addNumber(1)">1</button>
  <button (click)="addNumber(2)">2</button>
  <button (click)="addNumber(3)">3</button>
  <button (click)="operacion('dividir')">/</button>
  <br/>
  <button (click)="borrar()">C</button>
  <button (click)="addNumber(0)">0</button>
  <button (click)="calcular()">=</button>
  <button (click)="operacion('multiplicar')">*</button>
</div>






